
ALGOS/assignment2/.idea/

ALGOS/assignment2/cmake-build-debug/

ALGOS/assignment3/CMakeFiles/

ALGOS/assignment3/.cache/

ALGOS/assignment3/build/

ALGOS/assignment3/CMakeCache.txt

ALGOS/assignment3/cmake_install.cmake

ALGOS/assignment3/find_path

ALGOS/assignment3/compile_commands.json
